lombok.accessors.flagUsage = ERROR
lombok.anyConstructor.addConstructorProperties=true
lombok.cleanup.flagUsage = ERROR
lombok.delegate.flagUsage = ERROR
lombok.extensionMethod.flagUsage = ERROR
lombok.fieldDefaults.flagUsage = ERROR
lombok.getter.lazy.flagUsage = ERROR
lombok.helper.flagUsage = ERROR
lombok.log.fieldName = log
lombok.log.log4j.flagUsage = ERROR
lombok.log.log4j2.flagUsage = ERROR
lombok.log.xslf4j.flagUsage = ERROR
lombok.sneakyThrows.flagUsage = ERROR
lombok.synchronized.flagUsage = ERROR